$primary: #49240F;
$secondary: #E4A79D;
$body-bg: #ffffff;

$primary-color:#E65E24;
$--color-primary: #E65E24 !default;
$color-primary: #E65E24 !default;
$--el-button-bg-color: #E65E24 !default;
$color-text-primary: #E65E24;
$on-color: #E65E24;

$header-height: 4rem;
$page-top-item-height:24rem;
$mobile-width: 576px;

:root {
    --el-color-primary: #E65E24 !important;
    --el-menu-base-level-padding: 37px !important;
}
.el-drawer__body{
    padding: 0;
}
